In [8]:
import pandas as pd
import redis
import kagglehub
import os

In [9]:
# Download latest version
path = kagglehub.dataset_download("max-mind/world-cities-database")
full_path = os.path.join(path, "worldcitiespop.csv")

print("Full Path to dataset files:", full_path)

world_pop_df = pd.read_csv(full_path, encoding="utf-8")

Full Path to dataset files: /Users/sahiljambhekar/.cache/kagglehub/datasets/max-mind/world-cities-database/versions/3/worldcitiespop.csv

/var/folders/hl/q58g0sb57xsb6g8ytrgk70q40000gn/T/ipykernel_63303/808522203.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  world_pop_df = pd.read_csv(full_path, encoding="utf-8")

In [10]:
world_pop_df["Country"].unique()

array(['ad', 'ae', 'af', 'ag', 'ai', 'al', 'am', 'an', 'ao', 'ar', 'at',
       'au', 'aw', 'az', 'ba', 'bb', 'bd', 'be', 'bf', 'bg', 'bh', 'bi',
       'bj', 'bm', 'bn', 'bo', 'br', 'bs', 'bt', 'bw', 'by', 'bz', 'ca',
       'cc', 'cd', 'cf', 'cg', 'ch', 'ci', 'ck', 'cl', 'cm', 'cn', 'co',
       'cr', 'cu', 'cv', 'cx', 'cy', 'cz', 'de', 'dj', 'dk', 'dm', 'do',
       'dz', 'ec', 'ee', 'eg', 'eh', 'er', 'es', 'et', 'fi', 'fj', 'fk',
       'fm', 'fo', 'fr', 'ga', 'gb', 'gd', 'ge', 'gf', 'gg', 'gh', 'gi',
       'gl', 'gm', 'gn', 'gp', 'gq', 'gr', 'gs', 'gt', 'gw', 'gy', 'hk',
       'hn', 'hr', 'ht', 'hu', 'id', 'ie', 'il', 'im', 'in', 'iq', 'ir',
       'is', 'it', 'je', 'jm', 'jo', 'jp', 'ke', 'kg', 'kh', 'ki', 'km',
       'kn', 'kp', 'kr', 'kw', 'ky', 'kz', 'la', 'lb', 'lc', 'li', 'lk',
       'lr', 'ls', 'lt', 'lu', 'lv', 'ly', 'ma', 'mc', 'md', 'me', 'mg',
       'mh', 'mk', 'ml', 'mm', 'mn', 'mo', 'mp', 'mq', 'mr', 'ms', 'mt',
       'mu', 'mv', 'mw', 'mx', 'my', 'mz', 'na', 'nc', 'ne', 'nf', 'ng',
       'ni', 'nl', 'no', 'np', 'nr', 'nu', 'nz', 'om', 'pa', 'pe', 'pf',
       'pg', 'ph', 'pk', 'pl', 'pm', 'pn', 'ps', 'pt', 'pw', 'py', 'qa',
       're', 'ro', 'rs', 'ru', 'rw', 'sa', 'sb', 'sc', 'sd', 'se', 'sg',
       'sh', 'si', 'sj', 'sk', 'sl', 'sm', 'sn', 'so', 'sr', 'st', 'sv',
       'sy', 'sz', 'tc', 'td', 'tf', 'tg', 'th', 'tj', 'tk', 'tm', 'tn',
       'to', 'tr', 'tt', 'tv', 'tw', 'tz', 'ua', 'ug', 'us', 'uy', 'uz',
       'vc', 've', 'vg', 'vi', 'vn', 'vu', 'wf', 'ws', 'ye', 'yt', 'za',
       'zm', 'zr', 'zw'], dtype=object)

In [11]:
us_cities_df = world_pop_df[world_pop_df["Country"] == "us"]

In [12]:
us_cities_df[:3]

,Country,City,AccentCity,Region,Population,Latitude,Longitude
2907718,us,abanda,Abanda,AL,NaN,33.100833,-85.529722
2907719,us,abbeville,Abbeville,AL,NaN,31.571667,-85.250556
2907720,us,abbot springs,Abbot Springs,AL,NaN,33.360833,-86.481667

In [13]:
# Count Number of Cities with NaN Population v/s Non-NaN Population
us_cities_df["Population"].isnull().sum(), us_cities_df["Population"].notnull().sum()

(np.int64(137814), np.int64(4175))

In [15]:
df_to_write = us_cities_df.drop(
    columns=["Country", "Latitude", "Longitude"], inplace=False
)
df_to_write[:3]

                  City     AccentCity Region  Population
2907718         abanda         Abanda     AL         NaN
2907719      abbeville      Abbeville     AL         NaN
2907720  abbot springs  Abbot Springs     AL         NaN

In [16]:
redis_client: redis.StrictRedis = redis.Redis(host="localhost", port=6379, db=0)

In [21]:
# Bulk insert function
from time import perf_counter


def insert_into_redis(df, redis_client):
    start = perf_counter()
    pipeline = redis_client.pipeline()
    # Compute the pipeline for each row in the DataFrame
    for _, row in df.iterrows():
        # Define the unique key for the city with state included
        city_key = f"city:{row['City']}:{row['Region']}"

        pipeline.hset(city_key, "state", row["Region"])
        pipeline.hset(city_key, "population", row["Population"])

        # Add the city name to the state's Set for quick state-based lookups
        state_key = f"state:{row['Region']}"
        pipeline.sadd(state_key, row["City"])

    pipeline.execute()
    end = perf_counter()
    print(f"Time taken to insert {len(df)} records: {end-start:0.2f} seconds")

In [22]:
insert_into_redis(df_to_write, redis_client)

Time taken to insert 141989 records: 3.26 seconds

In [23]:
df_to_write["Region"].unique()

array(['AL', 'AK', 'AS', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL',
       'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME',
       'MH', 'MD', 'MA', 'MI', 'FM', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV',
       'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 'OH', 'OK', 'OR', 'PW',
       'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VI', 'VA',
       'WA', 'WV', 'WI', 'WY'], dtype=object)

In [24]:
df_to_write[df_to_write["Region"] == "CA"].dropna(how="any")[:10]

                 City    AccentCity Region  Population
2917878      adelanto      Adelanto     CA     21955.0
2917888  agoura hills  Agoura Hills     CA     22222.0
2917901       alameda       Alameda     CA     70443.0
2917903         alamo         Alamo     CA     17764.0
2917907        albany        Albany     CA     16144.0
2917921      alhambra      Alhambra     CA     88386.0
2917926   aliso viejo   Aliso Viejo     CA     41314.0
2917938  alondra park  Alondra Park     CA      8028.0
2917941        alpine        Alpine     CA     15391.0
2917957      altadena      Altadena     CA     43226.0

In [25]:
redis_client.sismember("state:CA", "los angeles")

1

In [26]:
redis_client.srandmember("state:CA", number=5)

[b'bicknell', b'port hueneme', b'denny', b'covelo', b'manzanita']

In [28]:
unique_states = df_to_write["Region"].unique()

# Save unique states into Redis HSET
pipeline = redis_client.pipeline()
for state in unique_states:
    pipeline.sadd("states", state)
pipeline.execute()

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]